@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mountains+of+Christmas:wght@400;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mountains+of+Christmas:wght@400;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://db.onlinewebfonts.com/c/ef6c4f19c26fbcd2b5202a88ddd932f5?family=Benguiat%2A+Bold');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
p,h1{
    color: white;
}
body{
    overflow-x: auto;
}

header{
    display: flex;
    width: 100%;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 99999;
}
.main-header-left{
    display: flex;
    gap: 40px;
}
header ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
header ul>li{
    list-style: none;
}
header ul>li a{
    text-decoration: none;
    color: white;
}
header img{
    width: 100px;
}
.hero-section{
    width: 100%;
    height: 99.5vh;
    position: relative;
    top: 0px;
    
}
.upper-main>h1{
    font-family: "Benguiat* Bold";
    color: red;
    font-size: 3.5rem;
}
.upper-main, .lower-main{
    margin-left:30px;
    font-size:1.3rem;
}
.lower-main button{
   padding:20px;
   border-radius: 10px;
   font-weight: bold;
   border-style:none;
   gap:3px;
}
.main-hero{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    position: absolute;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center; 
    max-width:500px;   
}
.hero-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.scroll-section{
    width:95vw;
    height:45vh;
    background-color:black; 
    margin-left:2.2vw;
    position: relative;
    margin-top:-50px;
    
}
.scroll-section h1{
   color:white;
   margin-left:30px;
   margin-top:30px;
   /* margin-bottom:-20px; */
   font-size: 2.1rem;
}
.scroll-section h1:hover{
    opacity:0.5;
    transition:h1 0.1s linear 0.1s;
}
.main-scroll-section{
    width:100%;
    height:75%;
    display:flex;
    gap:15px;
    overflow-x: scroll;
    padding-top:50px;
    padding-left: 30px;
    padding-right: 30px;
    scrollbar-width: none;
    /* margin:auto; */
    align-items: center;  
}

.video-scroll{
    width:350px;
    height:400px;
    margin-top:30px;
    flex-shrink:0;
    z-index:0;
    background-color:black;
}
.video-scroll img{
    width:350px;
    height: 200px;
    padding-top:30px;
}
.video-scroll:hover{
    transform: scale(1.25);
    transition: all 0.5s linear;
    z-index:99999; 
}
.video-scroll:hover .after-hover{
    display: flex;
}
.after-hover{
    display:none;
    flex-direction: column;
    gap:20px;
    padding-left: 10px;
    padding-right: 10px;
}
.in-hover{
    display:flex;
    justify-content: space-between;
    padding-left:10px;
    padding-right: 10px;
}
.text{
    display: flex;
    gap:4px;
    padding-left:10px;
    padding-right: 10px;
}
.category{
    display:flex;
    padding-left:10px;
    padding-right: 10px;
    gap:5px;
}